.mt-6 {
    margin-top: 3.6rem;
}

.mt-7 {
    margin-top: 4.2rem;
}

.mt-8 {
    margin-top: 4.8rem;
}

.mt-9 {
    margin-top: 5.4rem;
}

.mt-10 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 3.6rem;
}

.mb-7 {
    margin-bottom: 4.2rem;
}

.mb-8 {
    margin-bottom: 4.8rem;
}

.mb-9 {
    margin-bottom: 5.4rem;
}

.mb-10 {
    margin-bottom: 6rem;
}

.pt-6 {
    padding-top: 3.6rem;
}

.pt-7 {
    padding-top: 4.2rem;
}

.pt-8 {
    padding-top: 4.8rem;
}

.pt-9 {
    padding-top: 5.4rem;
}

.pt-10 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 3.6rem;
}

.pb-7 {
    padding-bottom: 4.2rem;
}

.pb-8 {
    padding-bottom: 4.8rem;
}

.pb-9 {
    padding-bottom: 5.4rem;
}

.pb-10{
    padding-bottom:6rem;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0{
    padding-right: 0 !important;
}

.td-none{
    text-decoration:none;
}

.td-underline {
    text-decoration: underline;
}

.ls-none{
    list-style:none;
}

.cp{
    cursor:pointer;
}

.ls-normal{
    letter-spacing:normal;
}

.ls-wide {
    letter-spacing: 0.1em;
}

.ls-wider {
    letter-spacing: 0.25em;
}

.ls-widest {
    letter-spacing: 0.5em;
}

.va-bot{
    vertical-align:bottom;
}
.va-mid {
    vertical-align: middle;
}

.fw-300 {
    font-weight: 300 !important;
}
.fw-400{
    font-weight:400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-800 {
    font-weight: 800 !important;
}

.ws-nowrap{
    white-space:nowrap;
}

.ww-break{
    word-wrap:break-word;
}

.fr{
    float:right;
}

.px-6 {
    padding-left: 3.6rem !important;
    padding-right: 3.6rem !important;
}
.px-7 {
    padding-left: 4.2rem !important;
    padding-right: 4.2rem !important;
}
.px-8 {
    padding-left: 4.8rem !important;
    padding-right: 4.8rem !important;
}
.px-9 {
    padding-left: 5.4rem !important;
    padding-right: 5.4rem !important;
}
.px-10 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

@media(min-width:768px){
    .px-md-6 {
        padding-left: 3.6rem !important;
        padding-right: 3.6rem !important;
    }

    .px-md-7 {
        padding-left: 4.2rem !important;
        padding-right: 4.2rem !important;
    }

    .px-md-8 {
        padding-left: 4.8rem !important;
        padding-right: 4.8rem !important;
    }

    .px-md-9 {
        padding-left: 5.4rem !important;
        padding-right: 5.4rem !important;
    }

    .px-md-10 {
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }

    .pe-md-none{
        pointer-events:none!important;
    }

    .ml-md-0{
        margin-left:0 !important;
    }
    .mr-md-0 {
        margin-right: 0 !important;
    }
}

h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-weight:600;
}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

@media(max-width:1400px) {
    h1 {
        font-size: 3rem;
        line-height: 4rem;
    }
    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }
}

@media(max-width:500px){
    h1{
        font-size: 2.75rem;
    }
    h2 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }
}


.breathe-animation {
    transition: linear;
    animation-name: breathe;
    animation-duration: 5.25s;
    animation-iteration-count: infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.bleep-animation {
    transition: linear;
    animation-name: bleep;
    animation-duration: 2.25s;
    animation-iteration-count: infinite;
}


@keyframes bleep {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media(min-width:1200px){
    .w-md-50{
        width:50%;
    }
}

.text-white-20 {
    color: rgba(255, 255, 255, 0.2) !important;
}

.text-white-30 {
    color: rgba(255, 255, 255, 0.3) !important;
}

.text-white-40 {
    color: rgba(255, 255, 255, 0.4) !important;
}

.text-white-60 {
    color: rgba(255, 255, 255, 0.6) !important;
}

.text-black-70 {
    color: rgba(0, 0, 0, 0.7) !important;
}